<%
const {classNames} = require('../../js/ejsUtils')
const cfg = {...require('./data.json'), ...arguments?.[0]}
const {
	extraClasses,
	extraAttrs,
	type,
	href,
	icon,
	caption,
	disabled,
} = cfg
%>

<%
const getIconMarkup = () => {
	if (!icon) return ''
	return `
		<svg class="button__icon i-icon">
			<use href="#icon-${icon.name}"></use>
		</svg>
	`
}

const getButtonBodyMarkup = () => {
	const classes = classNames('button__caption', {
		'visually-hidden': caption.isHidden
	})
	return `
		${icon.position !== 'after' ? getIconMarkup() : ''}
		<span class="${classes}">${caption.text}</span>
		${icon.position === 'after' ? getIconMarkup() : ''}
	`
}

const classes = classNames('button', extraClasses, {
	'button--icon-only': icon && caption.isHidden
})

let dataAttrs = ''
if (!caption.isHidden) {
	dataAttrs += ' data-js-button'
}
%>

<% if (href) { %>
	<a
		class="<%= classes %>"
		href="<%= href %>"
		<% if (caption.isHidden) { %>
			title="<%= caption.text %>"
			aria-label="<%= caption.text %>"
		<% } %>
		<%- dataAttrs %>
		<%- extraAttrs %>
	>
		<%- getButtonBodyMarkup() %>
	</a>
<% } else { %>
	<button
		class="<%= classes %>"
		type="<%= type %>"
		<% if (caption.isHidden) { %>
			title="<%= caption.text %>"
			aria-label="<%= caption.text %>"
		<% } %>
		<% if (disabled) { %>
			disabled
		<% } %>
		<%- dataAttrs %>
		<%- extraAttrs %>
	>
		<%- getButtonBodyMarkup() %>
	</button>
<% } %>
