<%
const { classNames } = require("../../js/utils/classNames")
const cfg = { ...require("./data.json"), ...arguments?.[0] }
const {
	extraClasses,
	extraAttrs,
	id,
	max,
	value,
	label,
} = cfg
%>

<% if (label) { %>
	<label for="<%= id %>">
		<%= label %>
	</label>
<% } %>

<progress
	class="<%= classNames("progress", extraClasses) %>"
	id="<%= id %>"
	max="<%= max %>"
	value="<%= value %>"
	<%- extraAttrs %>
>
	<%= value %>%
</progress>
