<%
const defaults = require('./data.json').data
const params = (typeof data === 'undefined') ? defaults : {...defaults, ...data}
const {
	extraClasses,
	extraAttrs,
	id,
	max,
	value,
	label,
} = params
%>

<%
	let classes = 'progress'
	if (extraClasses) classes += ` ${extraClasses}`
%>

<% if (label) { %>
	<label
		for="<%= id %>"
	>
		<%= label %>
	</label>
<% } %>

<progress
	class="<%= classes %>"
	id="<%= id %>"
	max="<%= max %>"
	value="<%= value %>"
	<%- extraAttrs %>
>
	<%= value %>%
</progress>
