<%
const { classNames } = require("../../js/utils/classNames")
const props = { ...require("./data.json"), ...arguments?.[0] }
const {
	extraClasses,
	extraAttrs,
	id = name,
	name,
	label,
	placeholder,
	isLabelHidden,
	isRequired,
	isDisabled,
	isMultiple,
	hasSearch,
	options,
} = props
%>

<%
const classes = classNames(extraClasses, "select form-item")
const attrs = Array.isArray(extraAttrs) ? extraAttrs.join(" ") : extraAttrs
const selectParams = { hasSearch }
%>

<div
	class="<%= classes %>"
	data-js-select="<%= JSON.stringify(selectParams) %>"
	<%- attrs %>
>
	<select
		class="select__control"
		id="<%= id %>"
		name="<%= name %>"
		<% if (isMultiple) { %>
			multiple
		<% } %>
		<% if (isDisabled) { %>
			disabled
		<% } %>
		<% if (isRequired) { %>
			required
		<% } %>
		data-js-select-control
	>
		<% options.forEach(({ label, value, isSelected, isDisabled }) => { %>
			<option
				value="<%= value %>"
				<% if (isSelected) { %>
					selected
				<% } %>
				<% if (isDisabled) { %>
					disabled
				<% } %>
				data-js-select-option
			>
				<%= label %>
			</option>
		<% }) %>
	</select>
	<label
		class="<%= classNames("select__label form-label", {
			"visually-hidden": isLabelHidden,
		}) %>"
		for="<%= id %>"
	>
		<span><%= label %></span>
		<% if (isRequired) { %>
			<span class="form-star-required">*</span>
		<% } %>
	</label>
</div>
