<%
const { classNames } = require("../../js/ejsUtils")
const cfg = { ...require("./data.json"), ...arguments?.[0] }
const {
	extraClasses,
	extraAttrs,
	name,
	label,
	required,
	disabled,
	multiple,
	form,
	options,
	isLiveSearch,
} = cfg
%>

<% const selectCfg = {
	isLiveSearch
} %>

<div
	class="<%= classNames('select form-item', extraClasses) %>"
	data-js-select='<%- JSON.stringify(selectCfg) %>'
	<%- extraAttrs %>
>
	<select
		class="select__control"
		id="<%= name %>"
		name="<%= name %>"
		data-js-select-control
		tabindex="-1"

		<% if (disabled) { %>
			disabled
		<% } %>

		<% if (multiple) { %>
			multiple
		<% } %>

		<% if (form) { %>
			form="<%= form %>"
		<% } %>
	>
		<% options.forEach(({text, value, isSelected}) => { %>
			<option
				value="<%= value %>"
				<% if (isSelected) { %>
					selected
				<% } %>
			>
				<%= text %>
			</option>
		<% }) %>
	</select>

	<label
		class="<%= classNames('select__label form-label', {
      'visually-hidden': label.isHidden
		}) %>"
		for="<%= name %>"
	>
		<span><%= label.text %></span>
		<% if (required) { %>
			<span class="form-star-required">*</span>
		<% } %>
	</label>
</div>
