<%
const { classNames } = require("../../js/utils/classNames")
const cfg = { ...require("./data.json"), ...arguments?.[0] }
const {
	extraClasses,
	extraAttrs,
	title,
	price,
} = cfg
%>

<article
	class="<%= classNames("product-card", extraClasses) %>"
	<%- extraAttrs %>
>
	<div class="product-card__title">
		<%= title %>
	</div>
	<div class="product-card__price">
		<del class="product-card__old-price"><%= price.old %></del>
		<span class="product-card__current-price"><%= price.current %></span>
	</div>
</article>
