<% const data = {
	title: 'Список страниц вёрстки',
	flowContainerClass: '',
	crumbs: [
		{
			name: 'Главная',
			link: '/'
		},
		{
			name: 'Список страниц вёрстки'
		},
	]
} %>

<%- require('../layouts/head.ejs')(data) %>

<% const pages = [
	{
		title: 'Главная страница',
		code: 'main',
	},
	{
		title: 'Типографика',
		code: 'typo',
	},
	{
		title: 'Модальные окна',
		code: 'modals',
	},
] %>

<div class="content__sections">
	<div class="page-header container">
		<div class="page-header__breadcrumbs">
			<%- require('../components/breadcrumbs/template.ejs')(data.crumbs) %>
		</div>
		<h1 class="page-header__title">
			<%= data.title %>
		</h1>
		<div class="page-header__description">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae laborum nostrum quasi, reprehenderit tenetur
				voluptates.</p>
		</div>
	</div>

	<section class="section container">
		<header class="section__header visually-hidden">
			<h2 class="section__title">
				<%= data.title %>
			</h2>
		</header>
		<div class="section__body">
			<ul>
				<% pages.forEach((page) => { %>
					<% const {code, title, items} = page %>
					<li>
						<% if (page.code) { %>
							<a href="./<%= code %>.html">
								<%= title %>
							</a>
						<% } else { %>
							<span><%= title %></span>
						<% } %>
						<% if (items) { %>
							<ul>
								<% items.forEach(item => { %>
									<li>
										<a href="./<%= item.code %>.html">
											<%= item.title %>
										</a>
									</li>
								<% }) %>
							</ul>
						<% } %>
					</li>
				<% }) %>
			</ul>
		</div>
	</section>
</div>

<%- require('../layouts/foot.ejs')() %>