<%
const { classNames } = require("../../js/utils/classNames")
const cfg = { ...require("./data.json"), ...arguments?.[0] }
const {
	extraClasses,
	extraAttrs,
	value,
	hasGradient,
	hasInteractive,
	required,
	label,
} = cfg
%>
<%
const id1 = `star-rating-mask-1-${Date.now() + Math.random()}`
const id2 = `star-rating-mask-2-${Date.now() + Math.random()}`
%>

<!--
  Текущая оценка выводится в CSS-переменную --value в атрибуте style элемента star-rating.
  Формат - целое число или число с точкой. Примеры: 0, 0.5, 3.5, 4, 5.

  У блока с классом star-rating есть 2 доп. класса-модификатора:
  star-rating--no-gradient - отключает градиентную заливку (по умолчанию цвет заливки - золотой)
  star-rating--no-interactive - отключает интерактивное взаимодействие с компонентом

  Если необходим интерактив, то нужно убрать класс star-rating--no-interactive
  и добавить внутри компонента <label> и <input data-js-star-rating-input hidden>.
  При нажатии на звезду value этого скрытого поля меняется на соответствующее значение.

  Если количество компонентов star-rating на странице больше, чем 1, то нужно учитывать, что
  идентификаторы масок должны быть уникальные в каждом компоненте star-rating
  Всего идентификатора 2: star-rating-mask-1-*** и star-rating-mask-2-*** (дефолтные значения)
  Каждый идентификатор встречается в разметке компонента ровно 2 раза.
  Итого идентификаторы нужно поменять в 4-х местах (в атрибутах id, mask, fill), чтобы они были уникальными в каждом блоке star-rating.
  Пример:
  в 1-м star-rating идентификаторы star-rating-mask-1-aaa и star-rating-mask-2-aaa,
  в 2-м star-rating идентификаторы star-rating-mask-1_aab и star-rating-mask-2_aab,
  в 3-м star-rating идентификаторы star-rating-mask-1_aac и star-rating-mask-2_aac,
  в 4-м star-rating идентификаторы star-rating-mask-1_aad и star-rating-mask-2_aad
  и так далее.
-->
<div
	class="<%= classNames("star-rating", extraClasses, {
		"star-rating--no-gradient": !hasGradient,
		"star-rating--no-interactive": !hasInteractive,
	}) %>"
	<%- extraAttrs %>
	style="--value: <%= value %>;"
	data-js-star-rating
>
	<% if (hasInteractive) { %>
		<%
			let labelClasses = "star-rating__label form-label"
			if (label.isHidden) labelClasses += " visually-hidden"
		%>
		<label class="<%= labelClasses %>" for="rating">
			<%= label.text %>
			<% if (required) { %>
				<sup>*</sup>
			<% } %>
		</label>
		<input
			class="star-rating__input"
			id="rating"
			name="rating"
			value=""
			data-js-star-rating-input
			type="text"
			hidden
		<% if (required) { %>
			required
			data-js-input-required="text"
			<% } %>
		/>
	<% } %>

	<svg class="star-rating__body" data-js-star-rating-body width="168" height="32" viewBox="0 0 168 32" fill="none"
			 xmlns="http://www.w3.org/2000/svg">
		<path class="star-rating__star" data-js-star-rating-star
					d="M15.0489 2.92705C15.3483 2.00574 16.6517 2.00574 16.9511 2.92705L19.3677 10.3647C19.5016 10.7768 19.8855 11.0557 20.3188 11.0557H28.1392C29.1079 11.0557 29.5107 12.2953 28.727 12.8647L22.4001 17.4615C22.0496 17.7161 21.903 18.1675 22.0369 18.5795L24.4535 26.0172C24.7529 26.9385 23.6984 27.7047 22.9147 27.1353L16.5878 22.5385C16.2373 22.2839 15.7627 22.2839 15.4122 22.5385L9.08533 27.1353C8.30162 27.7047 7.24714 26.9385 7.54649 26.0172L9.96315 18.5795C10.097 18.1675 9.95036 17.7161 9.59987 17.4615L3.27299 12.8647C2.48928 12.2953 2.89206 11.0557 3.86078 11.0557H11.6812C12.1145 11.0557 12.4984 10.7768 12.6323 10.3647L15.0489 2.92705Z"
					fill="#E5E7ED">
			<title>Оценить на 1 балл из 5</title>
		</path>

		<path class="star-rating__star" data-js-star-rating-star
					d="M49.0489 2.92705C49.3483 2.00574 50.6517 2.00574 50.9511 2.92705L53.3677 10.3647C53.5016 10.7768 53.8855 11.0557 54.3188 11.0557H62.1392C63.1079 11.0557 63.5107 12.2953 62.727 12.8647L56.4001 17.4615C56.0496 17.7161 55.903 18.1675 56.0369 18.5795L58.4535 26.0172C58.7529 26.9385 57.6984 27.7047 56.9147 27.1353L50.5878 22.5385C50.2373 22.2839 49.7627 22.2839 49.4122 22.5385L43.0853 27.1353C42.3016 27.7047 41.2471 26.9385 41.5465 26.0172L43.9631 18.5795C44.097 18.1675 43.9504 17.7161 43.5999 17.4615L37.273 12.8647C36.4893 12.2953 36.8921 11.0557 37.8608 11.0557H45.6812C46.1145 11.0557 46.4984 10.7768 46.6323 10.3647L49.0489 2.92705Z"
					fill="#E5E7ED">
			<title>Оценить на 2 балла из 5</title>
		</path>

		<path class="star-rating__star" data-js-star-rating-star
					d="M83.0489 2.92705C83.3483 2.00574 84.6517 2.00574 84.9511 2.92705L87.3677 10.3647C87.5016 10.7768 87.8855 11.0557 88.3188 11.0557H96.1392C97.1079 11.0557 97.5107 12.2953 96.727 12.8647L90.4001 17.4615C90.0496 17.7161 89.903 18.1675 90.0369 18.5795L92.4535 26.0172C92.7529 26.9385 91.6984 27.7047 90.9147 27.1353L84.5878 22.5385C84.2373 22.2839 83.7627 22.2839 83.4122 22.5385L77.0853 27.1353C76.3016 27.7047 75.2471 26.9385 75.5465 26.0172L77.9631 18.5795C78.097 18.1675 77.9504 17.7161 77.5999 17.4615L71.273 12.8647C70.4893 12.2953 70.8921 11.0557 71.8608 11.0557H79.6812C80.1145 11.0557 80.4984 10.7768 80.6323 10.3647L83.0489 2.92705Z"
					fill="#E5E7ED">
			<title>Оценить на 3 балла из 5</title>
		</path>

		<path class="star-rating__star" data-js-star-rating-star
					d="M117.049 2.92705C117.348 2.00574 118.652 2.00574 118.951 2.92705L121.368 10.3647C121.502 10.7768 121.886 11.0557 122.319 11.0557H130.139C131.108 11.0557 131.511 12.2953 130.727 12.8647L124.4 17.4615C124.05 17.7161 123.903 18.1675 124.037 18.5795L126.454 26.0172C126.753 26.9385 125.698 27.7047 124.915 27.1353L118.588 22.5385C118.237 22.2839 117.763 22.2839 117.412 22.5385L111.085 27.1353C110.302 27.7047 109.247 26.9385 109.546 26.0172L111.963 18.5795C112.097 18.1675 111.95 17.7161 111.6 17.4615L105.273 12.8647C104.489 12.2953 104.892 11.0557 105.861 11.0557H113.681C114.114 11.0557 114.498 10.7768 114.632 10.3647L117.049 2.92705Z"
					fill="#E5E7ED">
			<title>Оценить на 4 балла из 5</title>
		</path>

		<path class="star-rating__star" data-js-star-rating-star
					d="M151.049 2.92705C151.348 2.00574 152.652 2.00574 152.951 2.92705L155.368 10.3647C155.502 10.7768 155.886 11.0557 156.319 11.0557H164.139C165.108 11.0557 165.511 12.2953 164.727 12.8647L158.4 17.4615C158.05 17.7161 157.903 18.1675 158.037 18.5795L160.454 26.0172C160.753 26.9385 159.698 27.7047 158.915 27.1353L152.588 22.5385C152.237 22.2839 151.763 22.2839 151.412 22.5385L145.085 27.1353C144.302 27.7047 143.247 26.9385 143.546 26.0172L145.963 18.5795C146.097 18.1675 145.95 17.7161 145.6 17.4615L139.273 12.8647C138.489 12.2953 138.892 11.0557 139.861 11.0557H147.681C148.114 11.0557 148.498 10.7768 148.632 10.3647L151.049 2.92705Z"
					fill="#E5E7ED">
			<title>Оценить на 5 баллов из 5</title>
		</path>

		<mask id="<%= id1 %>" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="2" y="2" width="168" height="26">
			<path
				d="M15.0489 2.92705C15.3483 2.00574 16.6517 2.00574 16.9511 2.92705L19.3677 10.3647C19.5016 10.7768 19.8855 11.0557 20.3188 11.0557H28.1392C29.1079 11.0557 29.5107 12.2953 28.727 12.8647L22.4001 17.4615C22.0496 17.7161 21.903 18.1675 22.0369 18.5795L24.4535 26.0172C24.7529 26.9385 23.6984 27.7047 22.9147 27.1353L16.5878 22.5385C16.2373 22.2839 15.7627 22.2839 15.4122 22.5385L9.08533 27.1353C8.30162 27.7047 7.24714 26.9385 7.54649 26.0172L9.96315 18.5795C10.097 18.1675 9.95036 17.7161 9.59987 17.4615L3.27299 12.8647C2.48928 12.2953 2.89206 11.0557 3.86078 11.0557H11.6812C12.1145 11.0557 12.4984 10.7768 12.6323 10.3647L15.0489 2.92705Z"
				fill="#FF9E00" />
			<path
				d="M49.0489 2.92705C49.3483 2.00574 50.6517 2.00574 50.9511 2.92705L53.3677 10.3647C53.5016 10.7768 53.8855 11.0557 54.3188 11.0557H62.1392C63.1079 11.0557 63.5107 12.2953 62.727 12.8647L56.4001 17.4615C56.0496 17.7161 55.903 18.1675 56.0369 18.5795L58.4535 26.0172C58.7529 26.9385 57.6984 27.7047 56.9147 27.1353L50.5878 22.5385C50.2373 22.2839 49.7627 22.2839 49.4122 22.5385L43.0853 27.1353C42.3016 27.7047 41.2471 26.9385 41.5465 26.0172L43.9631 18.5795C44.097 18.1675 43.9504 17.7161 43.5999 17.4615L37.273 12.8647C36.4893 12.2953 36.8921 11.0557 37.8608 11.0557H45.6812C46.1145 11.0557 46.4984 10.7768 46.6323 10.3647L49.0489 2.92705Z"
				fill="#FF9E00" />
			<path
				d="M83.0489 2.92705C83.3483 2.00574 84.6517 2.00574 84.9511 2.92705L87.3677 10.3647C87.5016 10.7768 87.8855 11.0557 88.3188 11.0557H96.1392C97.1079 11.0557 97.5107 12.2953 96.727 12.8647L90.4001 17.4615C90.0496 17.7161 89.903 18.1675 90.0369 18.5795L92.4535 26.0172C92.7529 26.9385 91.6984 27.7047 90.9147 27.1353L84.5878 22.5385C84.2373 22.2839 83.7627 22.2839 83.4122 22.5385L77.0853 27.1353C76.3016 27.7047 75.2471 26.9385 75.5465 26.0172L77.9631 18.5795C78.097 18.1675 77.9504 17.7161 77.5999 17.4615L71.273 12.8647C70.4893 12.2953 70.8921 11.0557 71.8608 11.0557H79.6812C80.1145 11.0557 80.4984 10.7768 80.6323 10.3647L83.0489 2.92705Z"
				fill="#FF9E00" />
			<path
				d="M117.049 2.92705C117.348 2.00574 118.652 2.00574 118.951 2.92705L121.368 10.3647C121.502 10.7768 121.886 11.0557 122.319 11.0557H130.139C131.108 11.0557 131.511 12.2953 130.727 12.8647L124.4 17.4615C124.05 17.7161 123.903 18.1675 124.037 18.5795L126.454 26.0172C126.753 26.9385 125.698 27.7047 124.915 27.1353L118.588 22.5385C118.237 22.2839 117.763 22.2839 117.412 22.5385L111.085 27.1353C110.302 27.7047 109.247 26.9385 109.546 26.0172L111.963 18.5795C112.097 18.1675 111.95 17.7161 111.6 17.4615L105.273 12.8647C104.489 12.2953 104.892 11.0557 105.861 11.0557H113.681C114.114 11.0557 114.498 10.7768 114.632 10.3647L117.049 2.92705Z"
				fill="#FF9E00" />
			<path
				d="M151.049 2.92705C151.348 2.00574 152.652 2.00574 152.951 2.92705L155.368 10.3647C155.502 10.7768 155.886 11.0557 156.319 11.0557H164.139C165.108 11.0557 165.511 12.2953 164.727 12.8647L158.4 17.4615C158.05 17.7161 157.903 18.1675 158.037 18.5795L160.454 26.0172C160.753 26.9385 159.698 27.7047 158.915 27.1353L152.588 22.5385C152.237 22.2839 151.763 22.2839 151.412 22.5385L145.085 27.1353C144.302 27.7047 143.247 26.9385 143.546 26.0172L145.963 18.5795C146.097 18.1675 145.95 17.7161 145.6 17.4615L139.273 12.8647C138.489 12.2953 138.892 11.0557 139.861 11.0557H147.681C148.114 11.0557 148.498 10.7768 148.632 10.3647L151.049 2.92705Z"
				fill="#FF9E00" />
		</mask>
		<g mask="url(#<%= id1 %>)">
			<rect class="star-rating__mask" fill="url(#<%= id2 %>)" x="-1" width="168" height="32" />
		</g>
		<defs>
			<linearGradient id="<%= id2 %>" x1="-1" y1="0" x2="10.7637" y2="61.7593" gradientUnits="userSpaceOnUse">
				<stop class="star-rating__start-color" stop-color="#E63954" />
				<stop class="star-rating__end-color" offset="1" stop-color="#FFA35F" />
			</linearGradient>
		</defs>
	</svg>

	<% if (hasInteractive) { %>
		<span class="form-error text-sm" data-js-form-error-msg></span>
	<% } %>
</div>
