<%
const defaults = require('./data.json').data
const params = Object.assign({}, defaults, (data) ? data : {})
const {items} = params
%>

<nav class="breadcrumbs" aria-label="breadcrumb">
  <ul class="breadcrumbs__list flow">
    <% items.forEach((item, index) => { %>
      <li class="breadcrumbs__item"
          title="<%= item.name %>"
          itemprop="itemListElement"
          itemscope
          itemtype="https://schema.org/ListItem"
      >
        <a
          class="breadcrumbs__link"
          href="<%= item.link %>"
          itemprop="item"
          <%= (index === items.length) ? 'aria-current="page"' : '' %>
        >
            <span itemprop="name">
              <%= item.name %>
            </span>
        </a>
        <meta itemprop="position" content="<%= index + 1 %>"/>
      </li>
    <% }) %>
  </ul>
</nav>
